<?xml version="1.0" encoding="UTF-8" ?>
<suite name="suiteTest" parallel="tests" thread-count="4">
    <listeners>
        <!-- class-name的值填写为时间创建的监听器的路径 -->
        <listener class-name="com.example.project1.ExtentTestNGIReporterListener"></listener>
    </listeners>
    <test name="testMode1">
        <classes>
            <class name="com.example.project1.Test1"/>
        </classes>
    </test>
</suite>